html
    head
        style
        script(src="../3.js")
        link(rel="stylesheet", href="../css/a.css")
        link(rel="stylesheet", href="../css/b.css")
    body
        div
            ul 
                li
                    input(type="text",id="tst",value="abc") 
                   
                li
                li 上面是li标签
        div&attributes({title:"submit",value:"按钮"})
