html
    head
        style
        script
    body
        div aaa
            span bbb
        div(style="width:200px;height:200px;background: red")
        div(style={width:'200px',height:'200px',background:'red'})
        div(class=['aaa','bb','ccc'])
